@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* header section */

header {
    padding: 50px 135px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 48px;
    height: 56px;
    margin-right: 10px;
}

nav h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav li {
    color: #424247;
    font-size: 18px;
    font-weight: 500;
    margin-right: 44px;
}

nav li a {
    text-decoration: none;
}

nav .home {
    color: #FF5400;
    font-weight: 700;
}

.travel-blog {
    color: #FF5400;
}

.header-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* travel section */

.travel-section {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    /* width: 1800px; */
    height: 500px;
    background-repeat: no-repeat;
    margin: 0 135px;
    background-position: center;
    text-align: center;
}

.travel-section-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 0px;
}

.travel-section-description {
    color: #FFF;
}


input,
select,
button {
    padding: 11px;
    border-radius: 8px;
    margin-top: 50px;
    margin-right: 20px;
    border: none;
    color: rgba(19, 19, 24, 0.50);

}

button {
    background-color: #FF5400;
    color: #FFF;
}


/* tour-section */

.tour-section {
    gap: 150px;
    margin: 100px 135px;
    display: flex;
    margin-bottom: 20px;
}

.tour-section li {
    margin-bottom: 20px;
}

.tour-section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-section-description {
    color: rgba(19, 19, 24, 0.70);
}

.button1 {
    padding: 15px;
    font-size: 20px;
    font-weight: 800;
}


/* destination-section */
.destination-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;

}

.destination-section-img1 {
    margin: 50px 135px;
    /* margin-bottom: 50px; */
    display: flex;
    gap: 30px;

}

.destination-section-img2 {
    padding-top: 0px;
    margin: 0px 135px;
    display: flex;
    gap: 30px;
}

.destination-section-img3 {
    margin: 50px 135px;
    display: flex;
    gap: 30px;
}


/* choose part styles */

.choose-us {
    margin: 50px 135px;
    display: flex;
    gap: 24px;
}

.choose-us-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.primary-color {
    color: #5A5A5D;
}

.choose-us-div {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.choose-us-div2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.choose-us-another {
    margin: 0 135px;
    justify-content: center;
    align-items: center;
    /* width: 573px; */
    /* height: 284px; */
    margin-bottom: 0px;
}

.choose-us-div3 {
    margin-left: 450px;
    width: 773px;
    height: 180px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 40px;
}


/* newsletter styles */

.newsletter {

    border-radius: 8px;
    justify-content: space-between;
    margin: 120px 135px;
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
}

.newsletter-div {
    border-radius: 16px;
    border: 1px solid #FF5400;
    background: #FFF;
    padding: 40px;
}

.newsletter-div input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 15px 140px 15px 15px;
    margin: 20px 0 0 0;

}

.newsletter-div button {
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 126px;
}


/* footer */

.footer-image {
    display: flex;
    justify-content: center;
    font-size: 32px;
    /* width: 48px; */
    height: 56px;
    align-items: center;

}

.footer {
    padding: 110px 250px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.copyright {
    padding: 40px;
    padding-bottom: 0px;
    border-top: rgba(19, 19, 24, 0.10) solid 1px;
}




/* media query */

@media screen and (max-width:576px) {

    nav,
    ul {
        flex-direction: column;
    }

    nav ul {
        margin-bottom: 20px;
    }

    .travel-section {
        margin: 0px;
        width: 100%;
        align-items: center;
        border-radius: 8px;
    }

    .travel-section-title {
        font-size: 22px;
        margin-top: 32px;
        padding-top: 32px;
    }

    .tour-section {
        flex-direction: column;
        margin: 20px;
        gap: 40px;
    }

    .tour-image img {
        width: 335px;
        height: 342px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    input,
    select,
    button {
        padding: 20px;
        border-radius: 8px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 20px;
    }


    .destination-section-img1,
    .destination-section-img2,
    .destination-section-img3 {
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }

    .choose-us-div3 {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .choose-us-div3 {
        /* margin-left: 450px; */
        width: 315px;
        /* height: 200px; */
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        padding: 40px;
    }
    .choose-us {
        flex-direction: column;
        margin: 0px;
        gap: 20px;
        width: 400px;
    }

    .choose-us-another{
        margin: 0px;
    }

    .newsletter{
        flex-direction: column;
        margin: 0px;
    }
    
    .footer {
        margin: 0px;
        padding: 60px;
        margin-top: 30px;
    }
    
    .footer-image {
        margin-bottom: 40px;
    }

    .sub-button{
        /* padding-left: 0px; */
       margin-left: 0px;
       /* align-items: center; */
    }
    img{
        width: 396px;
    }

    .choose-us img, .choose-us-another img{
        width: 50px;
    }

}